$fontprimary: 'Roboto', sans-serif;
$fontcolorprimary: white;
$fontcolorsecondary: black;
$bgcolorprimary: black;
$herobackground: rgba(0, 0, 0, 0.8);

body {
  font-family: $fontprimary;
  background: {
    color: $bgcolorprimary;
    image: url('../img/landingpage.png');
    size: cover;
  }
  color: $fontcolorprimary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: $fontcolorprimary;
  text-decoration: none;
}

header {
  min-width: calc(100vw - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $herobackground;
  min-height: 3rem;
  i {
    font-size: 2rem;
    color: $fontcolorprimary;
    background-color: rgba(0, 0, 0, 0);
  }
  h1 {
    font-size: 1rem;
  }
  ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 5rem;
    min-height: calc(100vh - 5rem);
    min-width: 100vw;
    background-color: #2a506e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li a {
      font-size: 2rem;
      &:hover {
        color: gray;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;

  h2 {
    max-width: 80vw;
    padding: 1rem;
    background-color: $herobackground;
    text-align: center;
    border-radius: 15px;
  }
}

footer {
  display: flex;
  justify-content: center;

  background-color: $herobackground;
  padding: 1rem;
}

#kurser {
  flex-direction: column;
  padding-top: 4%;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kurser {
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    img {
      border-radius: 1rem 1rem 0 0;
      width: 60vw;
      height: auto;
      &:nth-child(2) {
        background-color: white;
      }
    }
    h3 {
      margin-top: 1rem;
    }
  }
  .kurs {
    padding: 1rem;
    span {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1rem;
      margin-bottom: 1rem;
      border: solid 0.1rem white;
    }
    img {
      width: 90vw;
      height: auto;
      margin-bottom: 1rem;
    }
    div {
      background-color: rgba(0, 0, 0, 0.8);
      align-items: flex-start;
      padding: 0.5rem;
      span {
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        margin: 0;
        border: none;
      }
      p {
        margin-top: 1rem;
      }
    }
  }
}

#minasidor {
  div {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
  }
  div form {
    display: flex;
    flex-direction: column;
    label {
      background-color: rgba(0, 0, 0, 0.8);
    }
    input {
      font-size: 1.5rem;
    }
    input[type='button'],
    label {
      margin-top: 0.5rem;
      padding: 0.5rem;
    }
  }
}
