@media only screen and (min-width: 680px) {
  body {
    align-items: start;
    height: 90vh;
    min-height: 90vh;
    padding-top: 6rem;
    overflow-x: hidden;
    display: block;
  }
  main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    h2 {
      font-size: 3rem;
    }
  }
  #kurser {
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    padding: 0;
    .kurser {
      width: 30vw;
      margin: 0.5rem;
      border: solid 3px rgb(116, 116, 191);
      background-color: rgba($color: #000000, $alpha: 0.9);
      img {
        width: 50%;
        height: 50%;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .kurs {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      max-height: 70vh;
      span {
        width: 90%;
      }

      div {
        width: 40%;
        height: auto;
        margin: 1rem;
      }
      img {
        max-width: 30%;
      }
      div {
        padding: 2rem;
      }
      button {
        font-size: 2rem;
        padding: 0.5rem;
        margin: 1rem;
      }
    }
  }
  header {
    padding: 1rem;
    width: 100vw;
    max-width: 100vw;
    & > i:nth-child(4) {
      position: fixed;
      right: 0;
    }
    & > i:nth-child(3) {
      position: fixed;
      right: 4rem;
    }
    h1 {
      position: absolute;
      font-size: 1rem;
    }
    i {
      margin-left: 0;
    }
    nav {
      width: 100vw;
      i.fa-bars {
        display: none;
      }
      ul.hide {
        padding-left: 6rem;
        display: block;
        position: static;
        margin: 0;
        min-height: 0;
        min-width: 0;
        display: flex;
        flex-direction: row;
        background-color: rgba($color: #000000, $alpha: 0);
        li {
          margin-right: 2rem;
          a {
            font-size: 1.5rem;
          }
          &:first-child {
            &::before {
              font-family: 'Font Awesome 6 Free';
              font-weight: 900;
              content: '\f015';
              padding: 0.5rem;
            }
          }
          &:last-child {
            &::before {
              font-family: 'Font Awesome 6 Free';
              font-weight: 900;
              content: '\f02d';
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }
  #minasidor {
    .adminPage {
      text-align: center;
      display: block;
      padding: 10rem;
      width: 100vw;
      h2 {
        min-width: 100vw;
      }
      button {
        width: 100%;
        display: block;

        padding: 1rem;
      }
      div {
        float: left;
        padding: 5rem;
        max-width: 90vw;
        display: flex;
        max-width: 30%;
        margin: 0.5rem;
        border: solid 3px rgb(116, 116, 191);
        background-color: rgba($color: #000000, $alpha: 0.9);
        margin-bottom: 3rem;
      }
      form {
        margin-left: auto;
        margin-right: auto;
        max-width: 40vw;
        input {
          font-size: 2rem;
        }
      }
    }
    div {
      button {
      }
      form {
        input {
        }
      }
    }
  }
}
